@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  font-size: 10px;
  --var-bgcolor: #fff;
  --var-fontcolor: #7C7C7A;
  --var-colordiv:#000;
  --var-user-bg-color: #4A49CB;
  --var-theme-bg-color: #f5f5f5;
  --var_theme-choice_bg_colof: #fff;
}
:root .lightmode_text, :root .darkmode_text {
  display: none;
}
:root .left-menu:hover .darkmode_text {
  display: block;
}
:root .lightmode_icon {
  display: none;
}

[dark] {
  --var-bgcolor: #242625;
  --var-fontcolor: #7C7C7A;
  --var-colordiv:#fff;
  --var-user-bg-color: #A492FF;
  --var-theme-bg-color: #424444;
  --var_theme-choice_bg_colof: #242625;
}
[dark] .lightmode_text, [dark] .darkmode_text {
  display: none;
}
[dark] .left-menu:hover .lightmode_text {
  display: block;
}
[dark] .left-menu:hover .darkmode_text {
  display: none;
}
[dark] .lightmode_icon {
  display: block;
}
[dark] .darkmode__icon {
  display: none;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
}

a {
  text-decoration: none;
  color: #7C7C7A;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.left-menu {
  height: 80vh;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -webkit-box-shadow: 1px 0px 0px #DEDEDE;
          box-shadow: 1px 0px 0px #DEDEDE;
  position: relative;
  padding: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}
.left-menu .left-menu__user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 56px;
  padding-left: 15px;
}
.left-menu .left-menu__user svg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin-right: 15px;
}
.left-menu .left-menu__user svg rect {
  fill: var(--var-user-bg-color);
}
.left-menu .left-menu__user div {
  color: var(--var-colordiv);
  display: none;
}
.left-menu .left-menu__user a {
  display: none;
}
.left-menu h1 {
  margin: 0;
  font-size: 1rem;
}
.left-menu__search {
  margin-left: 20px;
}
.left-menu__search input {
  background-image: url("../media_files/search_icon.svg");
  background-repeat: no-repeat;
  padding: 1.3rem;
  padding-left: 60px;
  background-color: var(--var-theme-bg-color);
  border: none;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center left 13px;
  width: 90%;
}
.left-menu .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-left: 20px;
  padding: 15px;
}
.left-menu .nav-item a {
  display: none;
  margin-left: 20px;
}
.left-menu .nav-item a img {
  margin-right: 20px;
}
.left-menu .left-menu__logout {
  margin-left: 35px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left-menu .left-menu__logout a {
  display: none;
  margin-left: 20px;
}
.left-menu .nav-item :hover, .left-menu .left-menu__logout :hover {
  background-color: #F5F5F5;
}
.left-menu .darkmode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 35px;
}
.left-menu .darkmode img {
  margin-right: 20px;
}
.left-menu .darkmode p {
  color: #7C7C7A;
  margin: 0;
}
.left-menu .pointer {
  position: absolute;
  z-index: 3;
  top: 2%;
  left: 93%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.left-menu .pointer svg circle {
  fill: var(--var-user-bg-color);
}
.left-menu .checkbox_choice:checked,
.left-menu .checkbox_choice:not(:checked) {
  position: absolute;
  display: none;
}
.left-menu .checkbox_choice:checked + label,
.left-menu .checkbox_choice:not(:checked) + label {
  position: absolute;
  z-index: 1;
  left: 175px;
  top: -5px;
  display: none;
  text-align: center;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  padding: 0;
  margin: 1rem auto;
  cursor: pointer;
  background-color: var(--var-theme-bg-color);
}
.left-menu .checkbox_choice:checked + label:before,
.left-menu .checkbox_choice:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--var_theme-choice_bg_colof);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.left-menu .checkbox_choice:not(:checked) + label:before {
  background-image: url("../media_files/sun.svg");
}
.left-menu .checkbox_choice:checked + label:before {
  background-image: url("../media_files/moon.svg");
}
.left-menu .checkbox_choice:checked + label:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.left-menu:hover {
  width: 250px;
}
.left-menu:hover .pointer {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.left-menu:hover .checkbox_choice:checked + label,
.left-menu:hover .checkbox_choice:not(:checked) + label {
  display: block;
}
.left-menu:hover .left-menu__user div, .left-menu:hover .left-menu__user a {
  display: block;
}
.left-menu:hover .left-menu__logout a {
  display: block;
}
.left-menu:hover .nav-item a {
  display: block;
}